
.about_me:hover
{
	color: #800000;
	cursor: pointer;
transition: ease 1s;
}

.hi_shi:hover
{
	color: #800000;
	cursor: pointer;
transition: ease 1s;
}


div.background 
{
	background: url(http://i.imgur.com/smQVYlo.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

div.transbox
{
  margin: 50px;
  background-color: #ffffff;
  opacity:0.2;
}

.transbox:hover 
{
	opacity: 0.7;
}

div.transbox p
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

h1{ font-family: fantasy;}

